.shop_wrapper {
  background-color: #fbf8f5;

  .shopitems {
    .itemslist {
      display: flex;
      justify-content: space-around;

      .item {
        background-color: white;
        text-align: center;
        font-size: 17px;
        border: 2px #e9672b solid;
        box-shadow: 8px 15px #cbc6f4;
        border-radius: 4px;
        margin-bottom: 90px;
        position: relative;

        h3 {
          margin: 15px 0 19px;
        }

        &:nth-child(2) {
          border: 2px #225dca solid;
          box-shadow: 8px 15px #e7cb43;
        }

        &:nth-child(3) {
          border: 2px #242947 solid;
          box-shadow: 8px 15px #a2d4c5;
        }

        &:nth-child(4) {
          border: 2px #de4333 solid;
          box-shadow: 8px 15px #af4920;
        }

        &:hover {
          box-shadow: inherit;
          transition: box-shadow 0.6s ease-in-out;

          h3 {
            position: absolute;
            top: 38%;
            left: 0;
            right: 0;
            font-size: 20px;

            animation: img_anim 1s ease-out;
            opacity: 0;
            animation-fill-mode: forwards;

            &.visible {
              opacity: 1;
            }

            @keyframes img_anim {
              0% {
                opacity: 0;
              }
              100% {
                opacity: 1;
              }
            }
          }

          img {
            opacity: 0;
            transition: opacity 0.6s ease-in-out;
          }
        }
      }
    }
  }

  .shop_title {
    padding-bottom: 65px;
    font-size: 48px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .shop_wrapper {
    .shop_title {
      padding-top: 50px;
    }
    .shopitems {
      .itemslist {
        .item {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .shop_wrapper {
    .shopitems {
      .itemslist {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .item {
          width: 50%; 
          float: left;
          box-sizing: border-box;
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .shop_wrapper {
    padding-top: 100px;
  }
}